<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="description"
      content="description of page here"
/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="png/favicon.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css"/>
  </head>

  <body class="base-body">
    {% include "components/header.njk" %}
<main>
{# {% if content %}
<section>
{{ content | safe }}
</section>
{% endif %} #}
<section id="who-we-are">
<h2>Section 1</h2>
<p>This is the content of section 1.</p>
</section>
<section id="what-we-do">
<h2>Section 2</h2>
<p>This is the content of section 2.</p>
</section>
<section id="what-weve-done">
<h2>Section 1</h2>
<p>This is the content of section 1.</p>
</section>
<section id="contact">
<h2>Section 2</h2>
<p>This is the content of section 2.</p>
</section>
    {% include "scripts/navigation.njk" %}


{# {% if blocks %}
        {% for block in blocks %}

          {% if block.type == "hero" %}
            {% include "blocks/hero.njk" %}

          {% elif block.type == "intro" %}
            {% include "blocks/intro.njk" %}

          {% elif block.type == "test-block" %}
            {% include "blocks/test-block.njk" %}

          {% endif %}
        {% endfor %}
      {% endif %} #}

</main>
{# {% include "components/footer.njk" %} #}
<video autoplay playsinline muted preload="auto" loop id="background" poster="webp/background-static.webp">
<source src="background.mp4" type="video/mp4">
</video>
</body>

</html>