/* COMPOSITION */
.c-screen-height {
    min-height: 100vh;
}
.c-full-width {
    width:100%;
}

.c-margin-center {
    margin-inline: auto;
}

.c-max-content {
    padding: 0 5vw;
}

.c-flex {
    display: flex;
    &.c-wrap {
        flex-wrap: wrap;
    }
    &.c-flex-center{
        flex-direction: column;
        justify-content: space-between;
    }
}
