#background {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  background-color: var(--grey);
}
.base-body {
  display: flex;
  header {
    height: 100dvh;
    width: min-content;
    padding: 3em 4em 3em 3em;
    .nav-container {
      svg:last-child {
        padding-right: 5%;
      }
      svg {
        animation: color-change 60s infinite;
      }
    }
    .links {
      padding-top: 30vh;
      a,
      span {
        /* color: var(--grey); */
        font-weight: bold;
        text-wrap: nowrap;
        text-decoration: none;
        /* animation: text-color-change 60s infinite; */
      }
      a.active {
        color: var(--grey);
      }
    }
  }
  main {
    flex-shrink: 4;
    p {
      padding-bottom: 1.2em;
    }
  }
}
@keyframes color-change {
  0% { fill: var(--black); }
  35% { fill: var(--black); }
  40% { fill: var(--purple); }
  45% { fill: var(--grey); }
  85% { fill: var(--grey); }
  90% { fill: var(--green); }
  95% { fill: var(--black); }
  100% { fill: var(--black); }
}
@keyframes text-color-change {
  0% { color: var(--black); }
  38% { color: var(--black); }
  43% { color: var(--purple); }
  48% { color: var(--grey); }
  88% { color: var(--grey); }
  93% { color: var(--green); }
  98% { color: var(--black); }
  100% { color: var(--black); }
}
section {
  display: none;
}

section.active {
  display: block;
}
