#myVideo {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.base-body {
  display: flex;
  nav {
    /* width:max-content ; */
    a {
      /* margin: 0 30px; */
    }
  }
}
