@font-face {
  font-family: 'logo-font';
  src: url('/fonts/abraham.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.55;
  font-family: "font-name", "Trebuchet MS", Arial;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-wrap: balance;
}
