:root {
  --grey: #dbd8d7;
  --purple: #b491aa;
  --green: #afaf3c;
  --black: #23282d;
}

.grey {
    color: var(--grey);
}

.purple {
    color: var(--purple);
}

.black {
    color: var(--black);
}

.green {
    color: var(--green);
}

/* 
Logotype = Abraham-Regular
Headline = Milligram Variable Bold
Subline = Milligram Variable Bold
“Quote” = Milligram Italic Variable
Header = Milligram Variable Medium
body = Milligram Variable Book
*footer = Milligram Variable Thin 
*/
